body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: antiquewhite;
}

.mm-list{
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0%;
  transition: opacity 1s;
}

.mm-adjective-contianer{
  position: relative;
}

.img-custom{
  width: 100%;
  overflow: hidden;
}

img{
  filter: brightness(80%);
  transition: scale 1s, filter 1s;
}

.mm-card:hover img{
  
  scale: 1.2;
  filter: brightness(100%);
  
}

.mm-card:hover .mm-list{
  opacity: 75%;
}
